html {
    height: 100%;
 }
body {
    position: relative;
    height: 100%;
    padding: 0px;
    margin: 0 auto;
    font-size: 100%;
    font-family: Helvetica, Arial, Verdana, sans-serif;
    color: #000000;
    line-height: 1.2;
    min-width: 300px;
}
h1 {
	text-align: center;
	font-size: 120%;
}
img {
	border: none;
	padding: 0px;
	margin: 0px;
}
.photo {
	text-align: center;
	position: relative;
	width: 200px;
	height: 200px;
	margin: 0px auto;
}
.photo img {
	width: 200px;
	height: 200px;
}
.photo2 {
	background: url("../images/circle2.png") top left no-repeat;
	width: 200px;
	height: 200px;
}